################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reversi/ReversiServer/obj
/Reversi/.vs/ReversiGame
/Reversi/ReversiGame/obj
/.vs
/Reversi/Prototyp/obj
